        <!DOCTYPE html>
        <html>
          <head>
            <title>log out</title>
            <link rel="stylesheet" href="home.css" />
            <meta charset="utf-8" />
          </head>
          <body>
            <div id="container">
              <div id="header">
                    Gladiators 
              </div>
              <div id="body">                
                <div id="login">
                  log in Again?
                  <form id="log">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username"> <br><br>
                    <label for="passwd">Password</label>
                    <input id="passwd" type="password" name="passwd"><br><br>                
                    <label for="logninas">Log in As</label>
                    <select id="loginas" type="option" name="loginas">
                    <option value="Player">Player</option>
                    <option value="Developer">Developer</option>            
                    </select><br><br>
                    <input type="submit" value="Log in"><br>
                    <br><br><br>
                    Don't have an account? <input type="submit" value="Sign Up"><br>
                  </form>
                </div>
                <div id="disa"><h3> You have  successfully logged out. </h3> </br></div>
                
              </div>
                <div style="clear:all"></div>
                <div id="footer">
                  CopyRight © Gladiators 2015, all rights reserved.
                </div> 
            </div>       
          </body>
        </html>
                