<!DOCTYPE html>
<style>
  ul.errorlist {
    display:none;
  }
</style>
<html>
      <head>
        <title>Registration</title>
        <link rel="stylesheet" href="home.css" />
        <meta charset="utf-8" />
      </head>
      <body>
        <div id="container">
          <div id="header">
            Gladiators 
          </div>
          <div id="body">
           <div id="disa"> {% if registered %}
      <strong>Thank you for registering!</strong>
      <a href="{% url 'gamestore: new_login' %}">Return to the homepage and login.</a><br />
          {% else %}
      <h3>Sign up on our website!</h3>
      <form id="user_form" action="/registration/" method="post">{% csrf_token %}
        {{ user_data.as_p }}
        {{ user_form.as_p }}
        <input type="submit" name="submit" value="Register"/>
      </form>
    {% endif %}
          </div>
        </div>
          <div style="clear:all"></div>       
          
          <div id="footer">
            CopyRight © Gladiators 2015, all rights reserved.
          </div>
        </div>

      </body>
</html>
      