<!DOCTYPE html>
<html>
    <head lang="en">
       {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />

        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div class="content">
            <div class="top_block title">
                <div class="content">
                    <div id="photo">
                        <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="30%"></a>
                    </div>

                <div id="desc">
                 <font size="10"> <br> <B>Gladiators online games </B></font>
             </div>
                    </div>

            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">


              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">
                    <div id="pad">
                        {% if logged_in == True %}
                            <img src ="{% static 'gamestore/User.png'%} " width="40%"><br>
                            <div id="name"> <h2>Hi there, {{user.get_username}}</h2> </div>
                            {% if is_developer %}
                                <a href="/devhome">Developer home</a>
                            {% endif %}

                            <br><br>
                            <a href="/editprofile/{{user.get_username}}/"> Update your profile</a>
                        {% else %}
                            <form action="/login/" method="post">{% csrf_token %}
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username">&nbsp;
                                <br><br>
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password"/>&nbsp;
                                <br><br>
                                <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                                <!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->

                                <br><br><br>
                                <p>Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a></p>
                                <br><br>
                            </form>
                        {% endif %}
                        {% if logged_in == True %}
                            <br><br> <br><br><br><br><br> <br>
                            <form action="/logout/" method="post">{% csrf_token %}
                                <input type="submit" value="Logout" />
                            </form>
                        {% endif %}
                     </div>
                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <div id="pad">
                    <p>An error occured! <a href="{% url 'gamestore: player_homepage' %}"> click here </a>to go back to your profile</p>
                </div>
                </div>
            </div>
            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                </div>
            </div>
        </div>
    </body>
</html>