<!DOCTYPE html>
<html>
    <head lang="en">
        {% load staticfiles %}
                <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div class="content">
            <div class="top_block title">
              <div class="content">

                <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a></div>
                <div id="glad"> <h2> Gladiators online games</h2></div>

            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">


              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
              <div class="content">
                    <br><br>
                           <img src="hab.jpg" width="40%"><br>
                    <div id="name"> <h2>{{user.get_username}}</h2> </div>
                    <br>

              </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <p>You are about to be redirected to the payment page</p>

                    <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">{% csrf_token %}
                        <input type="hidden" name="pid" value="{{ pid }}" />
                        <input type="hidden" name="sid" value="{{ sid }}" />
                        <input type="hidden" name="success_url"
                                value="http://localhost:8000/payment/success" />
                        <input type="hidden" name="cancel_url"
                                value="http://localhost:8000/payment/cancel" />
                        <input type="hidden" name="error_url"
                                value="http://localhost:8000/payment/error" />
                        <input type="hidden" name="checksum" value="{{ checksum }}" />

                        <input type="hidden" id="id_amount" name="amount" value="{{ amount }}" />
                        <input type="submit" value="Continue"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="bottom_block footer">
              <div class="content">
                  CopyRight © Gladiators 2015, all rights reserved.
              </div>
        </div>

    </body>

</html>