<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Not found</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />

        <meta charset="UTF-8">
        <title>Page not found</title>
    </head>
    <body>
        <div class="content">
           <div class="top_block title">
              <div class="content">
                <div id="photo">
                        <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="30%"></a>
                    </div>

                <div id="desc">
                 <font size="10"> <br> <B>Gladiators online games </B></font>
             </div>
         </div>


            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
                <div class="content">
                    <ul id="men">

                              <li><button id="lnk" onclick="window.location='/playerhome'">Home   </button></li><br>
                              <li><button id="lnk" onclick="window.location='/category/all'">All games</button></li><br>
                              <li><button id="lnk" onclick="window.location='/category/adventure'">Adventure</button></li><br>
                              <li><button id="lnk" onclick="window.location='/category/football'">Football</button></li><br>
                              <li><button id="lnk" onclick="window.location='/category/puzzle'">Puzzle</button></li><br>
                              <li><button id="lnk" onclick="window.location='/category/racing'">Racing</button></li><br>
                              <li><button id="lnk" onclick="window.location='/category/sports'">Sports</button></li><br>
                              <li><button id="lnk" onclick="window.location='/help'">Help</button></li><br>
                              <li><button id="lnk" onclick="window.location='/about'">About</button></li>
                        </ul>
                </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">
                    <div id="pad">
                        {% if logged_in == True %}
                            <img src ="{% static 'gamestore/User.png'%} " width="40%"><br>
                            <div id="name"> <h2>Hi there, {{user.get_username}}</h2> </div>
                            {% if is_developer %}
                                <a href="/devhome">Developer home</a>
                            {% endif %}

                            <br><br>
                            <a href="/editprofile/{{user.get_username}}/"> Update your profile</a>
                        {% else %}
                            <form action="/login/" method="post">{% csrf_token %}
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username">&nbsp;
                                <br><br>
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password"/>&nbsp;
                                <br><br>
                                <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                                <!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->

                                <br><br><br>
                                <p>Don't have an account? <br><a href="{% url 'gamestore: register_url' %}">Sign up</a></p>
                                <br><br>
                            </form>
                        {% endif %}
                        {% if logged_in == True %}
                            <br><br> <br><br><br><br><br> <br>
                            <form action="/logout/" method="post">{% csrf_token %}
                                <input type="submit" value="Logout" />
                            </form>
                        {% endif %}
                     </div>
                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                  <div id="pad">
                  
                <div id="photo">
                    <img src ="{% static 'gamestore/logo.png'%} " width="40%"> 
                </div>
                <div id="desc">
                    <h1>404: page NOT found! </h1>
                  <h4>  Sorry the page you are looking for cannot be found. 
                    click <a href="{% url 'gamestore: home' %}">here </a>to go back to home.</h4>

                </div>

             
              </div>
            </div>

            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                    <br><br>
                  All images are licensed under a “Creative Commons Attribution 3.0 Generic License”.
                </div>
            </div>
        </div>
    </body>
</html>

        