<!DOCTYPE html>
<html>
      <head>
        <title>account disabled</title>
        {% load staticfiles %} 
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/home.css'%}" />
        <meta charset="utf-8" />
      </head>
      <body>
	        <div id="container">
              <div id="header">
                      <div id="glad"> <h2> Gladiators online games</h2> </div>
					      <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a>
					  </div>
		          <div id="body">
			            <div id="category"><h3><ul id="menu">
				              <li>Adventure</li>
				              <li>Car Race</li>
				              <li>Sports</li>
				              <li>Puzzle</li>
				              <li>Action</li>
				              <li><a href="help.html">Help</a></li>
				              <li><a href="about.html">About</a></li>
				              </ul></h3>
			            </div>  
			            <div id="disa">
			            	<h3> Your account has been disabled. </h3> click <a href="registration.html">here</a> to register again
			            </div>
			          
			          	<div style="clear:all"></div>       
				  </div>
		          <div id="footer">
		            CopyRight © Gladiators 2015, all rights reserved.
		          </div>
	        </div>

      </body>
</html>
      