<!DOCTYPE html>
<html>
    <title></title>
    <body>
        <h3>Category {{category_name}}</h3>
        <button onclick="window.location='/playerhome'">Home</button><br><br>

        <button onclick="window.location='/category/all'">All games</button>
        <button onclick="window.location='/category/adventure'">Adventure</button>
        <button onclick="window.location='/category/football'">Football</button>
        <button onclick="window.location='/category/puzzle'">Puzzle</button>
        <button onclick="window.location='/category/racing'">Racing</button>
        <button onclick="window.location='/category/sports'">Sports</button>
        <br><br>


        <form action="/search/" method="post">{% csrf_token %}
			<label for="textsearch">Search for games</label>
		    <input id="textsearch" type="text" name="textsearch"/>

			<input type="submit" name="submit" value="Search"/>
		</form>

        <br>
        <fieldset>

		<legend><strong> {{category_name}} games </strong> </legend>
		<table>
			<tr>
                <th>Picture</th>
				<th>Name</th>
				<th>Category</th>
				<th>Price(EUR)</th>
                <th>Game</th>
			</tr>
			{% for game in list_of_games %}
			<tr>
				<td width="5%" align="center">{{game.picture}}</td>
				<td width="10%" align="center">{{game.name}}</td>
				<td width="15%" align="center">{{game.category}}</td>
				<td width="5%" align="center">{{game.price}}</td>
				<td width="10%" align="center"><a href="/game_info/{{game.id}}"> Go to game</a></td>
			</tr>
		    {% endfor %}
		</table>
	    </fieldset>

        <form action="/logout/" method="post">{% csrf_token %}
            <input type="submit" value="Logout" />
        </form>
    </body>
</html>
