<!DOCTYPE html>
<html>
    <head>
    <title>Developer homepage</title>
    </head>
    <body>
        <h3>Developer homepage</h3>
        <p>Welcome, {{user.get_username}}</p></br>
	<fieldset>
		<legend><strong> Games in your inventory</strong> </legend>
		<table>
			<tr>
				<th>Game ID</th>
				<th>Name</th>
				<th>Category</th>
				<th>Username</th>
				<th>URL</th>
				<th>Price(EUR)</th>
			</tr>
			{% for game in list_of_games %}
			<tr>
				<td width="5%" align="center">{{game.id}}</td>
				<td width="10%" align="center">{{game.name}}</td>
				<td width="15%" align="center">{{game.category}}</td>
				<td width="15%" align="center">{{game.developer.username}}</td>
				<td width="20%" align="center">{{game.url}}</td>
				<td width="5%" align="center">{{game.price}}</td>
				<td width="10%" align="center"><a href="/gamestats/{{game.id}}"> View game statistics</a></td>
				<td width="10%" align="center"><a href="/editgame/{{game.id}}"> Edit</a></td>
				<td width="10%" align="center"><a href="/delete/{{game.id}}"> Delete this game</a></td>
			</tr>
		{% endfor %}
		</table>
	</fieldset>
	<br>
	<p><a href="{% url 'gamestore: add' %}"> Add new game</a><br /></p>
	<br>
        <form action="/logout/" method="post">{% csrf_token %}
            <input type="submit" value="Logout" />
        </form>
    </body>
</html>
