<!DOCTYPE html>
<html>
    <head>
        <title>Edit profile</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
    </head>
    <body>
        <div class="content">
            <div class="top_block title">
              <div class="content">
                <div id="photo">
                        <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="30%"></a>
                    </div>

                <div id="desc">
                 <font size="10"> <br> <B>Gladiators online games </B></font>
             </div>
         </div>


            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">


              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">

                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <div id="category">
                        <h3>Update user details</h3>
                        <p>Logged-in user: {{ username }}</p></br>
                        {% if saved %}
                        <strong>Game successfully saved!</strong>
                        <a href="/playerhome">Login again.</a><br />
                        {% else %}
                        <form action="/editprofile/{{username}}/" method="post">{% csrf_token %}
                            {{ typeform.as_p }}
                            {{ form.as_p }}
                            <input type="submit" name="submit" value="Save changes"/>
                        </form>
                        {% endif %}
                        <br>
                        <a href="/playerhome">Cancel</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom_block footer">
            <div class="content">
                CopyRight © Gladiators 2015, all rights reserved.
                <br><br>
                  All images are licensed under a “Creative Commons Attribution 3.0 Generic License”.
            </div>
        </div>
    </body>
</html>

