<!DOCTYPE html>
<html>
    <head>
                <title>Edit a game</title>
                {% load staticfiles %} 
                <link rel="stylesheet" type="text/css" href="{% static 'gamestore/home.css'%}" />
    </head>
    <body>
        <div id="container">
              <div id="header">
                      <div id="glad"> <h2> Gladiators online games</h2> </div>
                          <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a>
                      </div>
              <div id="body">
                        <h3>Modify a game</h3>
                        <p>Logged-in user: {{user.get_username}}</p></br>
                        {% if saved %}
                        <strong>Game successfully saved!</strong>
                        <a href="{% url 'gamestore: dev_home' %}">Return to your homepage.</a><br />
                        {% else %}
                        <form action="/editgame/{{game.id}}/" method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="submit" value="Save changes"/>
                        </form>
                        {% endif %}
                        <br>
                </div>
                <div style="clear:all"></div>
              <div id="footer">
                  CopyRight © Gladiators 2015, all rights reserved.
              </div> 
        </div>
    </body>
</html>

