<!DOCTYPE html>
<html>
<head>
            <title>Home</title>
			      {% load staticfiles %} 
            <link rel="stylesheet" type="text/css" href="{% static 'gamestore/home.css'%}" />
            <meta charset="utf-8" />
          </head>
<body>
	<div id="container">
              <div id="header">
                      <div id="glad"> <h2> Gladiators online games</h2> </div>
					      <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a>
					  </div>
   				<div id="body"> Error</div> 
   			</div>
</body>
</html>