<!DOCTYPE html>
<html>
	<head>
		<title>Play game</title>
		{% load staticfiles %} 
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
		<meta charset="utf-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>
			/* global $ */
			$(document).ready(function() {
				'use strict';
				$(window).on('message', function(evt) {
					//Note that messages from all origins are accepted

					//Get data from sent message
					var data = evt.originalEvent.data;

					//if SCORE, display score on parent HTML
					if (data.messageType == "SCORE"){
						$('#scores').html(data.score);
					}
					
					else if (data.messageType == "SAVE"){
						//HARDCODED GAME ID
						var gameid = 32;
						//REPLACE WITH CODE TO GET IDS DYNAMICALLY

						var playerid = document.getElementById("playerid").value;

                                		var csrftoken = getCookie('csrftoken');
                                		$.ajax({
                                        		type : "POST",
                                        		url : "/savegamestate/",
                                        		data : {'gameid': gameid, 'playerid': playerid, 'jsondata' : JSON.stringify(data), 'csrfmiddlewaretoken': csrftoken},
							dataType : "json",
                                        		success : function(data){
								var gamedata = '<p>';
                                                                gamedata += "Player items: " + data['playerItems'] + '</p>';
                                                                gamedata += '<p>' + "Score: " + data['score'] + '</p><br>';
                                                                $('#gamestate').html(gamedata);
								alert("Game saved successfully!");
                                        		}
                                		});
					}
					else if (data.messageType == "LOAD_REQUEST"){
						var csrftoken = getCookie('csrftoken');
						var gameid = 32;
						var playerid = document.getElementById("playerid").value;
						$.ajax({
							type : "POST",
							url : "/loadgamestate/",
							data : {'gameid': gameid, 'playerid': playerid, 'jsondata' : JSON.stringify(data), 'csrfmiddlewaretoken' : csrftoken},
							dataType : "json",
							success : function(data){
								// Gamestate exists, messageType = LOAD
								if (data['messageType'] == "LOAD"){
									var gamedata = '<p>';
									var state = $.parseJSON(data["gameState"]);
									gamedata += "Player items: " + state.playerItems + '</p>';
									gamedata += '<p>' + "Score: " + state.score + '</p><br>';
									$('#gamestate').html(gamedata);
								}
								// No gamestate found, messageType = MESSAGE
								else {
									$('#gamestate').html(data['message']);
								}
							}
						});
					}
				});
  			});

			function getCookie(name) {
                        	var cookieValue = null;
                        	if (document.cookie && document.cookie != '') {
                                	var cookies = document.cookie.split(';');
                                	for (var i = 0; i < cookies.length; i++) {
                                        	var cookie = jQuery.trim(cookies[i]);
                                        	// check if  cookie string begin with the name wanted
                                        	if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                	cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                	break;
                                        	}
                                	}
                        	}
                        	return cookieValue;
                	}
  		</script>
	</head>

	<body>
        <div class="content">
            <div class="top_block title">
              <div class="content">
                <div id="photo">
                        <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="30%"></a>
                    </div>

                <div id="desc">
                 <font size="10"> <br> <B>Gladiators online games </B></font>
             </div>

               </div>
            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">
                    <ul id="men">
                    
                          <li><button id="lnk" onclick="window.location='/playerhome'">Home   </button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/all'">All games</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/adventure'">Adventure</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/football'">Football</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/puzzle'">Puzzle</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/racing'">Racing</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/sports'">Sports</button></li><br>
                          <li><button id="lnk" onclick="window.location='/help'">Help</button></li><br>
                          <li><button id="lnk" onclick="window.location='/about'">About</button></li>

                    </ul>

              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">
                    <div id="pad">
                        {% if logged_in == True %}
                            <img src ="{% static 'gamestore/User.png'%} " width="40%"><br>
                            <div id="name"> <h2>Hi there, {{user.get_username}}</h2> </div>
                            {% if is_developer %}
                                <a href="/devhome">Developer home</a>
                            {% endif %}

                            <br><br>
                            <a href="/editprofile/{{user.get_username}}/"> Update your profile</a>
                        {% else %}
                            <form action="/login/" method="post">{% csrf_token %}
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username">&nbsp;
                                <br><br>
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password"/>&nbsp;
                                <br><br>
                                <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                                <!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->

                                <br><br><br>
                                <p>Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a></p>
                                <br><br>
                            </form>
                        {% endif %}
                        {% if logged_in == True %}
                            <br><br> <br><br><br><br><br> <br>
                            <form action="/logout/" method="post">{% csrf_token %}
                                <input type="submit" value="Logout" />
                            </form>
                        {% endif %}
                     </div>
                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <div id="category">
                        <input type="hidden" id="playerid" name="playerid" value="{{player.id}}"/><br>
                        <p>
                            You are now playing <strong>{{game.name}}</strong>
                            <br><br>
                            <a href="/loadhighscores/{{game.id}}"> View high scores</a>
                        </p><br>
                        <iframe id="encoder_iframe" height=300px width="80%" src="{{game.url}}"></iframe>
                        <br>
                        <br>
                        <strong>Last score: </strong>&nbsp;
                                    <span id="scores"></span><br><br>
                        <strong>Game state:</strong>
                                    <div id="gamestate"></div>
                        <br>
                        <br>
                    </div>
			    </div>
            </div>

            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                </div>
            </div>
        </div>
	</body>
</html>

