<!DOCTYPE html>
<html>
		<head>
				<title>Confirm game deletion</title>
				{% load staticfiles %} 
		        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
		</head>
		<body>
				<div id="container">
              <div id="header">
                      <div id="glad"> <h2> Gladiators online games</h2> </div>
					      <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a>
					  </div>
		              <div id="body">
							<form method="post">{% csrf_token %}
		    				Are you sure you want to delete "{{ object }}" ?
		    				<input type="submit" value="Submit" />
							</form>
							<a href="{% url 'gamestore: home' %}">click here to cancel and go back</a>
					  </div>
					     <div style="clear:all"></div>
		              <div id="footer">
		                  CopyRight © Gladiators 2015, all rights reserved.
		              </div> 
		        </div>     
		</body>
</html>
