<!DOCTYPE html>
<html>
    <head lang="en">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />

        <meta charset="UTF-8">
        <title>Game Information Page</title>
    </head>
    <body>
        <div class="content">
            <div class="top_block title">
              <div class="content">

                <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a></div>
                <div id="glad"> <h2> Gladiators online games</h2></div>

            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">


              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">
                    {% if logged_in == True %}
                        <img src="hab.jpg" width="40%"><br>
                        <div id="name"> <h2>{{user.get_username}}</h2> </div>
                        <br>
                    {% else %}
                        <div id="login">
                            <form action="/login/" method="post">{% csrf_token %}
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username">&nbsp;
                                <br><br>
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password"/>&nbsp;
                                <br><br>
                                <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                                <!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->

                                <br><br><br>
                                <p>Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a></p>
                                <br><br>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <p><h2>Game {{ name }} information page</h2></p>
                    <h3><table id="info">
                        <tr bgcolor="#FF9999" >
                          <th>Name</th>
                          <th>Description</th>
                          <th>Category</th>
                          <th>Price</th>
                        </tr>
                        <tr bgcolor="#99CC00" >
                            <td>{{ name }}</td>
                            <td>{{ description }}</td>
                            <td>{{ category }}</td>
                            <td>{{ price }}</td>
                        </tr>
                    </table></h3>

                    {% if have == True %}
                        <p><a href="/loadgame/{{ id }}">Go to game.</a></p><br>
                    {% elif buyable == True %}
                        <button onclick="window.location='/payment/start_buy/{{ id }}'">Buy {{ name }}</button>
                    {% else %}
                        <p>You have to log in or register first to buy a game!</p>
                        <a href="{% url 'gamestore: home' %}"><p>Home</p>
                    {% endif %}
                </div>
            </div>

            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                </div>
            </div>
        </div>
    </body>
</html>
