<!DOCTYPE html>
<html>
    <head>
            <title>Confirm game deletion</title>
            {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
    </head>
    <body>
        <div class="content">
            <div class="top_block title">
              <div class="content">
                <div id="photo">
                        <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="30%"></a>
                    </div>

                <div id="desc">
                 <font size="10"> <br> <B>Gladiators online games </B></font>
             </div>


            </div>
        </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">


              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
              <div class="content">
                    <div id="pad">
                    <br><br>
                    <img src="hab.jpg" width="40%"><br>
                    <div id="name"> <h2>{{user.get_username}}</h2> </div>
                    <br><br> <br><br><br><br><br> <br>
                    <form action="/logout/" method="post">{% csrf_token %}
                          <input type="submit" value="Logout" />
                      </form>
                    </div>
              </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <div id="category">
                    <form method="post">{% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}" ?</p>
                        <br>
                        <input type="submit" value="Submit" />
                    </form>
                    <br><br>
                    <a href="{% url 'gamestore: home' %}">Cancel</a>
                </div>
            </div>
            </div>

            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                </div>
            </div>
        </div>
    </body>
</html>
