        <!DOCTYPE html>
<html>
    <head lang="en">
        <title>Help</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />

        <meta charset="UTF-8">
        <title>Help</title>
    </head>
    <body>
        <div class="content">
            <div class="top_block title">
              <div class="content">

                <div id="photo">
                        <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="30%"></a>
                    </div>

                <div id="desc">
                 <font size="10"> <br> <B>Gladiators online games </B></font>
             </div>

            </div>

            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">

                  <ul id="men">
                    
                          <li><button id="lnk" onclick="window.location='/playerhome'">Home   </button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/all'">All games</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/adventure'">Adventure</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/football'">Football</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/puzzle'">Puzzle</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/racing'">Racing</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/sports'">Sports</button></li><br>
                          <li><button id="lnk" onclick="window.location='/help'">Help</button></li><br>
                          <li><button id="lnk" onclick="window.location='/about'">About</button></li>

                    </ul>
              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">
                    <div id="pad">
                        {% if logged_in == True %}
                            <img src ="{% static 'gamestore/User.png'%} " width="40%"><br>
                            <div id="name"> <h2>Hi there, {{user.get_username}}</h2> </div>
                            {% if is_developer %}
                                <a href="/devhome">Developer home</a>
                            {% endif %}

                            <br><br>
                            <a href="/editprofile/{{user.get_username}}/"> Update your profile</a>
                        {% else %}
                            <form action="/login/" method="post">{% csrf_token %}
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username">&nbsp;
                                <br><br>
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password"/>&nbsp;
                                <br><br>
                                <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                                <!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->

                                <br><br><br>
                                <p>Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a></p>
                                <br><br>
                            </form>
                        {% endif %}
                        {% if logged_in == True %}
                            <br><br> <br><br><br><br><br> <br>
                            <form action="/logout/" method="post">{% csrf_token %}
                                <input type="submit" value="Logout" />
                            </form>
                        {% endif %}
                     </div>
                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                  <div id="pad">
                  
                
                    <h2><p>  Gladiatos online game help</p></h2>
                <p>
                  Note that in this website all players must be registed and logged in to play a game.

                 <h3> Players</h3>
                  <li>players can only play games they paid for.</li>
                  <li> click home above to login .</li>
                  <li>remember to choose as "players" to login</li>
                  <li>click sign up to register as new</li>
                  <li>after loggin in</li>
                      <li>click "play game" to playe a game</li>
                      <li>click "buy game" to buy a game </li>
                     <li>use the search button to type in and search for games.</li>
                      <li>logout button is found in the bottom of the page.</li>
                     </p>
                     <h3> Developers</h3>
                      <p>
                        <li>click "edit game" to edit game</li>
                     <li>click " delet game" to delet game</li>
                     <li> click "statistics" to view game statistics . it will be displayed below the table</li>
                      <li>logout button is found in the bottom of the page.</li>
                    </p>    
             
                
              </div>
            </div>

            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                </div>
            </div>
        </div>
    </body>
</html>

        