<!DOCTYPE html> <html>
	<head>
			 {% load staticfiles %} 
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
            
    	<title>High scores page</title>
		<meta charset="utf-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>
			/* global $ */
			$(document).ready(function(){
				var game = $(this);
				var id = document.getElementById("gameid").value;
				$.ajax({
					type : "GET",
					url : "/highscores/"+id,
					data : {'id': id},
					dataType : "json",
					success : function(data){
						var scores = '<p>';
						scores += "High score 1: " + data["high_score_1"] + '</p>';
						scores += '<p>' + "High score 2: " + data["high_score_2"] + '</p>';
						scores += '<p>' + "High score 3: " + data["high_score_3"] + '</p>';
						scores += '<p>' + "High score 4: " + data["high_score_4"] + '</p>';
						scores += '<p>' + "High score 5: " + data["high_score_5"] + '</p>';
						$('#highscores').html(scores);
						console.log(data["high_score_1"]);
					}
				});
				event.preventDefault();
			});
  		</script>
	</head>
	<body>
        <div class="content">
            <div class="top_block title">
              <div class="content">

                <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a></div>
                <div id="glad"> <h2> Gladiators online games</h2></div>

            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">


              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
              <div class="content">
                    <br><br>
                <div id="pad">
                    <br><br>
                    <img src="hab.jpg" width="40%"><br>
                    <div id="name"> <h2>{{user.get_username}}</h2> </div>
                    <br><br> <br><br><br><br><br> <br>
                    <form action="/logout/" method="post">{% csrf_token %}
                          <input type="submit" value="Logout" />
                      </form>
                    </div>

              </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <div id="category">
                    <h3> High scores for game {{game.name}}</h3>
                    <p>
                        <strong>Player: {{player.username}}</strong>&nbsp;<br>
                        <input type="hidden" id="gameid" value="{{game.id}}">
                        <br>
                        <br>
                                    <div id="highscores"></div>
                        <br>
                        <br>
                        <a href="/loadgame/{{game.id}}">Return to game.</a>
                    </p>
                    <br>
                </div>
                </div>
            </div>

            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                </div>
            </div>
        </div>
	</body>
</html>
