<!DOCTYPE html> <html>
	<head>
        <title>Highscores</title>
			 {% load staticfiles %} 
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
            
    	<title>High scores page</title>
		<meta charset="utf-8">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>
			/* global $ */
			$(document).ready(function(){
				var game = $(this);
				var id = document.getElementById("gameid").value;
				$.ajax({
					type : "GET",
					url : "/highscores/"+id,
					data : {'id': id},
					dataType : "json",
					success : function(data){
						var scores = '<p>';
						scores += "High score 1: " + data["high_score_1"] + '</p>';
						scores += '<p>' + "High score 2: " + data["high_score_2"] + '</p>';
						scores += '<p>' + "High score 3: " + data["high_score_3"] + '</p>';
						scores += '<p>' + "High score 4: " + data["high_score_4"] + '</p>';
						scores += '<p>' + "High score 5: " + data["high_score_5"] + '</p>';
						$('#highscores').html(scores);
						console.log(data["high_score_1"]);
					}
				});
				event.preventDefault();
			});
  		</script>
	</head>
	<body>
        <div class="content">
            <div class="top_block title">
              <div class="content">
                  <div id="photo">
                        <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="30%"></a>
                    </div>

                <div id="desc">
                 <font size="10"> <br> <B>Gladiators online games </B></font>
             </div>

            </div>

            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">
                    <ul id="men">
                    
                          <li><button id="lnk" onclick="window.location='/playerhome'">Home   </button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/all'">All games</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/adventure'">Adventure</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/football'">Football</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/puzzle'">Puzzle</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/racing'">Racing</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/sports'">Sports</button></li><br>
                          <li><button id="lnk" onclick="window.location='/help'">Help</button></li><br>
                          <li><button id="lnk" onclick="window.location='/about'">About</button></li>

                    </ul>

              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">
                    <div id="pad">
                        {% if logged_in == True %}
                            <img src ="{% static 'gamestore/User.png'%} " width="40%"><br>
                            <div id="name"> <h2>Hi there, {{user.get_username}}</h2> </div>
                            {% if is_developer %}
                                <a href="/devhome">Developer home</a>
                            {% endif %}

                            <br><br>
                            <a href="/editprofile/{{user.get_username}}/"> Update your profile</a>
                        {% else %}
                            <form action="/login/" method="post">{% csrf_token %}
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username">&nbsp;
                                <br><br>
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password"/>&nbsp;
                                <br><br>
                                <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                                <!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->

                                <br><br><br>
                                <p>Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a></p>
                                <br><br>
                            </form>
                        {% endif %}
                        {% if logged_in == True %}
                            <br><br> <br><br><br><br><br> <br>
                            <form action="/logout/" method="post">{% csrf_token %}
                                <input type="submit" value="Logout" />
                            </form>
                        {% endif %}
                     </div>
                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <div id="category">
                    <h3> High scores for game {{game.name}}</h3>
                    <p>
                        <strong>Player: {{player.username}}</strong>&nbsp;<br>
                        <input type="hidden" id="gameid" value="{{game.id}}">
                        <br>
                        <br>
                                    <div id="highscores"></div>
                        <br>
                        <br>
                        <a href="/loadgame/{{game.id}}">Return to game.</a>
                    </p>
                    <br>
                </div>
                </div>
            </div>

            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                </div>
            </div>
        </div>
	</body>
</html>
