        <!DOCTYPE html>
        <html>
          <head>
            <title>Home</title>
			      {% load staticfiles %} 
            <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
			<!--<link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" /> -->
			{#% include 'django_facebook/_facebook_js.html' %#}
            <meta charset="utf-8" />
          </head>
          <body>
             <div id="container">
              <div id="header">
                      <div id="glad"> <h2> Gladiators online games</h2> </div>
                <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a>

               
                 					
              </div>
              <div id="body">
                <div id="category"><h3><ul id="menu">
                  
                
                <li><button id="lnk" onclick="window.location='/category/all'">All games</button></li>
               <li> <button id="lnk" onclick="window.location='/category/adventure'">Adventure</button></li>
               <li> <button id="lnk" onclick="window.location='/category/football'">Football</button></li>
                <li><button id="lnk" onclick="window.location='/category/puzzle'">Puzzle</button></li>
                <li><button id="lnk" onclick="window.location='/category/racing'">Racing</button></li>
                <li><button id="lnk" onclick="window.location='/category/sports'">Sports</button></li>
                  <li><a href="{% url 'gamestore: home' %}">Help</a></li>
                  <li><a href="{% url 'gamestore: home' %}">About</a></li>
                  </ul></h3>
                </div>
                <div id="login">
                  <form action="/login/" method="post">{% csrf_token %}
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username">&nbsp;
                     <br><br>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password"/>&nbsp;
                    <br><br>
                  <!--
                    <label for="usertype">Login as: </label>
                    <select id="usertype" name="usertype">
                      <option value=""></option>
                      <option value="player">Player</option>
                      <option value="developer">Developer</option>
                      <option></option>
                    </select></br></br>
                -->
                    <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
					<!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->
    
                  <br><br><br>
                    Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a>
                    <br><br>                    
                  </form>
                  
                </div>
                <div id="pop_container">
                  <div id="pop">Adventure <br> <img src ="{% static 'gamestore/adv1.jpg'%} " width="35%"> <img src ="{% static 'gamestore/adv2.jpg'%} "width="35%"> </div>
                  <div id="pop">Car Race<br> <img src ="{% static 'gamestore/carace1.png'%} " width="30%"> <img src ="{% static 'gamestore/carace2.jpg'%} "width="30%"></div>
                  <div id="pop">Sports<br> <img src ="{% static 'gamestore/sport1.jpg'%} " width="30%"> <img src ="{% static 'gamestore/sport2.jpg'%} "width="30%"></div>
                  <div id="pop">Puzzle<br> <img src ="{% static 'gamestore/puz1.jpg'%} " width="30%"> <img src ="{% static 'gamestore/puz2.jpg'%} "width="30%"></div>
                  <div id="pop">Action<br> <img src ="{% static 'gamestore/action1.jpg'%} " width="30%"> <img src ="{% static 'gamestore/action2.jpg'%} "width="30%"></div>
                </div>     
                  
                <div id="main_games"> 
                  <div id="recent">Most Popular games<br><img src ="{% static 'gamestore/action1.jpg'%} " width="30%">    <img src ="{% static 'gamestore/sport2.jpg'%} "width="30%"></div>
                  <div id="recent">Recently added games<br><img src ="{% static 'gamestore/adv2.jpg'%} "width="35%">     <img src ="{% static 'gamestore/sport2.jpg'%} "width="30%"></div>
                  <div id="recent">Free games<br><img src ="{% static 'gamestore/action1.jpg'%} " width="30%">    <img src ="{% static 'gamestore/sport2.jpg'%} "width="30%"></div>
                </div>
              </div>
                <div style="clear:all"></div>
                <div id="footer">
                  CopyRight © Gladiators 2015, all rights reserved.
                </div> 
            </div>       
          </body>
        </html>
                