<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
        <!--<link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" /> -->
        {#% include 'django_facebook/_facebook_js.html' %#}
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="content">
            <div class="top_block title">
              <div class="content">

                <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a></div>
                <div id="glad"> <h2> Gladiators online games</h2></div>

            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">


              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">
                    <div id="login">
                        <strong>Username or password is incorrect</strong>
                        <form action="/login/" method="post">{% csrf_token %}
                            <label for="username">Username</label>
                            <input id="username" type="text" name="username">&nbsp;
                            <br><br>
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password"/>&nbsp;
                            <br><br>
                            <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                            <!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->

                            <br><br><br>
                            <p>Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a></p>
                            <br><br>
                        </form>
                    </div>
                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                    <div id="category">
                        <h3><ul id="menu">
                            <li><button id="lnk" onclick="window.location='/category/all'">All games</button></li>
                            <li><button id="lnk" onclick="window.location='/category/adventure'">Adventure</button></li>
                            <li><button id="lnk" onclick="window.location='/category/football'">Football</button></li>
                            <li><button id="lnk" onclick="window.location='/category/puzzle'">Puzzle</button></li>
                            <li><button id="lnk" onclick="window.location='/category/racing'">Racing</button></li>
                            <li><button id="lnk" onclick="window.location='/category/sports'">Sports</button></li>
                            <li><a href="{% url 'gamestore: home' %}">Help</a></li>
                            <li><a href="{% url 'gamestore: home' %}">About</a></li>
                        </ul></h3>
                    </div>


                    <p>{{message}}</p>

                    <div id="pop_container">
                        <h2>Popular games</h2>
                        {% for game in top_games %}
                        <div id="pop">
                            <br>
                                <div id="photo">

                                    <img src ="{% static 'gamestore/'|add:game.category|add:'.png' %}" width="60%">

                                </div>
                                <div id="desc">
                                    {{ game.name }}<br>
                                    {{ game.description }}<br>
                                    {{ game.category }}<br>
                                    {{ game.price }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom_block footer">
            <div class="content">
                CopyRight © Gladiators 2015, all rights reserved.
            </div>
        </div>
    </body>
</html>
                