<!DOCTYPE html>
<html>
    <head lang="en">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />

        <meta charset="UTF-8">
        <title>About</title>
    </head>
    <body>
        <div class="content">
            <div class="top_block title">
              <div class="content">

                <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a></div>
                <div id="glad"> <h2> Gladiators online games</h2></div>

            </div>
            <div class="background left">
            </div>
            <div class="left_block left">
              <div class="content">


              </div>
            </div>
            <div class="background right">
            </div>
            <div class="right_block right">
                <div class="content">
                    
                        <div id="pad">
                          log in Again?
                            <form action="/login/" method="post">{% csrf_token %}
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username">&nbsp;
                                <br><br>
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password"/>&nbsp;
                                <br><br>
                                <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                                <!--<a href="{#% url 'facebook_connect' %#}?facebook_login=1" >Login with facebook</a> -->

                                <br><br><br>
                                <p>Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a></p>
                                <br><br>
                            </form>
                        </div>
                  
                </div>
            </div>
            <div class="background main">
            </div>
            <div class="center_block main">
                <div class="content">
                  <div id="category">
                        <h3><ul id="menu">
                            <li><button id="lnk" onclick="window.location='/category/all'">All games</button></li>
                            <li><button id="lnk" onclick="window.location='/category/adventure'">Adventure</button></li>
                            <li><button id="lnk" onclick="window.location='/category/football'">Football</button></li>
                            <li><button id="lnk" onclick="window.location='/category/puzzle'">Puzzle</button></li>
                            <li><button id="lnk" onclick="window.location='/category/racing'">Racing</button></li>
                            <li><button id="lnk" onclick="window.location='/category/sports'">Sports</button></li>
                            <li><a href="{% url 'gamestore: home' %}">Help</a></li>
                            <li><a href="{% url 'gamestore: home' %}">About</a></li>
                        </ul></h3><br>
                        
                    </div>
                <div id="mid">
                     You have  successfully logged out.
                </div>
              </div>
            </div>

            <div class="bottom_block footer">
                <div class="content">
                    CopyRight © Gladiators 2015, all rights reserved.
                </div>
            </div>
        </div>
    </body>
</html>

        
</html>
        <!DOCTYPE html>
        <html>
          <head>
            <title>log out</title>
            {% load staticfiles %} 
            <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
            <meta charset="utf-8" />
          </head>
          <body>
           <div id="container">
              <div id="header">
                      <div id="glad"> <h2> Gladiators online games</h2> </div>
                          <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a>
                      </div>
              <div id="body">                
                <div id="login">
                  Log in Again?
                  <form action="/login/" method="post">{% csrf_token %}
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username">&nbsp;
                     <br><br>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password"/>&nbsp;
                    <br><br>
                    <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                  <br><br><br>
                    Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a>
                    <br><br>                    
                  </form>
                </div>
                <div id="disa"><h3> You have  successfully logged out. </h3> </br></div>
                
              </div>
                <div style="clear:all"></div>
                <div id="footer">
                  CopyRight © Gladiators 2015, all rights reserved.
                </div> 
            </div>       
          </body>
        </html>
                