<!DOCTYPE html>
	<html>
      <head>
        <title>players</title>
        {% load staticfiles %} 
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/home.css'%}" />
        <meta charset="utf-8" />
      </head>
      <body>
        <div id="container">
          <div id="header">
            Gladiators 
          </div>
          <div id="body">
            <div id="category"><h3><ul id="menu">
                <button onclick="window.location='/playerhome'">Home</button><br><br>

                <button onclick="window.location='/category/all'">All games</button>
                <button onclick="window.location='/category/adventure'">Adventure</button>
                <button onclick="window.location='/category/football'">Football</button>
                <button onclick="window.location='/category/puzzle'">Puzzle</button>
                <button onclick="window.location='/category/racing'">Racing</button>
                <button onclick="window.location='/category/sports'">Sports</button>
                <br><br>
                <!--
                <li><a href="category/all.html"></a>All Games</li>
              <li><a href="category/adventure.html"></a>Adventure</li>
              <li><a href="category/racing.html">Car Race</a></li>
              <li><a href="category/sports.html">Sports</a></li>
              <li><a href="category/puzzle.html">Puzzle</a></li>
              <li><a href="category/action.html">Action</a></li>
              <li><a href="help.html">Help</a></li>
              <li><a href="about.html">About</a></li>
              -->
              </ul></h3>
            </div>  

            <div id="srch">
                <form id='search' action="/search/" method="post">{% csrf_token %}
                    <label for="textsearch">Search for games</label>
                    <input id="textsearch" type="text" name="textsearch" value="  type to search games  "/><br>

                    <input type="submit" name="submit" value="Search"/>
		        </form>
            </div>

            <div id="profile" >         
            <div id="photo" ><img src="hab.jpg" width="15%"><br></div>
            <div id="name"> <h2>{{user.get_username}}</h2> </div> 
            </div>     



                  
            <div id="paid">         
            <div id="paid_games"><h3>Paid games</h3></div>

                {% if not owned_games %}
                <p>You don't have any games yet, please buy some to be able to play. Here are some from our offer!</p><br>
                {% endif %}

                <br>
                <fieldset>

                <legend><strong> Your games </strong> </legend>
                <table>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price(EUR)</th>
                        <th>Game</th>
                    </tr>
                    {% for game in list_of_games %}
                    <tr>
                        <td width="5%" align="center">{{game.picture}}</td>
                        <td width="10%" align="center">{{game.name}}</td>
                        <td width="15%" align="center">{{game.category}}</td>
                        <td width="5%" align="center">{{game.price}}</td>
                        <td width="10%" align="center"><a href="/game_info/{{game.id}}">Game info</a></td>
                    </tr>
                    {% endfor %}
                </table>
                </fieldset>
                <!--
              <div id="pop">Car Race<br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
              <div id="pop">Sports<br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
              <div id="pop">Puzzle<br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
              <div id="pop">Action<br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
              -->
            </div>
           <div id="main_games"> 
            <div id="stat"><h3>Game Statistics</h3></div>
            <div id="stat_table"> table goes here </div>       
          </div>
          <form action="/logout/" method="post">{% csrf_token %}
      		<input type="submit" value="Logout" />
    	  </form>
          </div>
          
          <div style="clear:all"></div>
          
          <div id="footer">
            CopyRight © Gladiators 2015, all rights reserved.
          </div>
      </div>
          

      </body>

</html>
      
