<!DOCTYPE html>
  <html>
      <head>
          <title>Player homepage</title>
          {% load staticfiles %}
          <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
          <meta charset="utf-8" />
      </head>
      <body>
          <div class="content">
              <div class="top_block title">
                  <div class="content">
                    <div id="photo">
                        <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="30%"></a>
                    </div>

                <div id="desc">
                 <font size="10"> <br> <B>Gladiators online games </B></font>
             </div>
                     </div>
    
              </div>
              <div class="background left"></div>
              <div class="left_block left">
                  <div class="content">
                    <ul id="men">
                          <li><button id="lnk" onclick="window.location='/playerhome'">Home   </button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/all'">All games</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/adventure'">Adventure</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/football'">Football</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/puzzle'">Puzzle</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/racing'">Racing</button></li><br>
                          <li><button id="lnk" onclick="window.location='/category/sports'">Sports</button></li><br>
                          <li><button id="lnk" onclick="window.location='/help'">Help</button></li><br>
                          <li><button id="lnk" onclick="window.location='/about'">About</button></li>
                    </ul>
                  </div>
                </div>

              <div class="background right"></div>

              <div class="right_block right">
                  <div class="content">
                       <div id="pad">
                            <img src ="{% static 'gamestore/User.png'%} " width="40%"><br>
                            <div id="name"> <h2>Hi there, {{user.get_username}}</h2> </div>
                            {% if is_developer %}
                                <a href="/devhome">Developer home</a>
                            {% endif %}

                            <br><br>
                            <a href="/editprofile/{{user.get_username}}/"> Update your profile</a>
                            <br> <br><br><br><br><br> <br><br>
                            <form action="/logout/" method="post">{% csrf_token %}
                                  <input type="submit" value="Logout" />
                              </form>
                       </div>
                  </div>
              </div>
              <div class="background main"></div>

              <div class="center_block main">
                  <div class="content">
                    <div id="search">
                        <form action="/search/" method="post">{% csrf_token %}
                            <label for="textsearch">Search for games</label>
                            <input id="textsearch" type="text" name="textsearch"/>

                            <input type="submit" name="submit" value="Search"/>
                        </form>
                    </div>

                    <div id="category">
                      

                      {% if not owned_games %}
                          <h2>You don't have any games yet, please buy some to be able to play. Here are some from our offer!</h2><br>
                          <div id="pop_container">
                            <h2>Popular games</h2>
                            {% for game in top_games %}
                            <div id="pop">
                                <br>
                                    <div id="photo">

                                        <img src ="{% static 'gamestore/'|add:game.category|add:'.png' %}" width="60%">

                                    </div>
                                    <div id="desc">
                                        {{ game.name }}<br>
                                        {{ game.description }}<br>
                                        {{ game.category }}<br>
                                        {{ game.price }}<br>
                                        <a href="/game_info/{{ game.id }}">Go to game</a>
                                    </div>
                            </div>
                            {% endfor %}
                          </div>

                      {% else %}
                      
                          <fieldset>
                              <legend><strong> Your games </strong> </legend>
                              <table>
                                  <tr bgcolor="#b8860b">
                                      <th>Name</th>
                                      <th>Category</th>
                                      <th>Price(EUR)</th>
                                      <th>Game</th>
                                  </tr>
                                  {% for game in list_of_games %}
                                  <tr bgcolor="#bdb76b">
                                      <td width="10%" align="center">{{game.name}}</td>
                                      <td width="15%" align="center">{{game.category}}</td>
                                      <td width="5%" align="center">{{game.price}}</td>
                                      <td width="10%" align="center"><a href="/game_info/{{game.id}}">Game info</a></td>
                                  </tr>
                                  {% endfor %}
                              </table>
                          </fieldset>
                      {% endif %}
                    </div>
                  </div>
              </div>

              <div class="bottom_block footer">
                  <div class="content">
                      CopyRight © Gladiators 2015, all rights reserved.
                      <br><br>
                  All images are licensed under a “Creative Commons Attribution 3.0 Generic License”.
                  </div>
              </div>
          </div>
      </body>

</html>
      
