<!DOCTYPE html>
<style>
	ul.errorlist {
		display:none;
	}
</style>
<html>
	<title>Registration page</title>
	<body>
		{% if registered %}
			<strong>Thank you for registering!</strong>
			<a href="{% url 'gamestore: new_login' %}">Return to the homepage and login.</a><br />
        	{% else %}
			<h3>Sign up on our website!</h3>
			<form id="user_form" action="/registration/" method="post">{% csrf_token %}
				{{ user_data.as_p }}
				{{ user_form.as_p }}
				<input type="submit" name="submit" value="Register"/>
			</form>
		{% endif %}
	</body>
</html>
