<!DOCTYPE html>

<html>
      <head>
	  <style>
  ul.errorlist {
    display:none;
  }
</style>
        <title>Registration</title>
		{% load staticfiles %} 
        <link rel="stylesheet" type="text/css" href="{% static 'gamestore/style.css'%}" />
        <meta charset="utf-8" />
      </head>
      <body>
        <div id="container">
              <div id="header">
                      <div id="glad"> <h2> Gladiators online games</h2> </div>
                          <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a>
                      </div>
          <div id="body">
           {% if registered %}
      <strong>Thank you for registering! <br> You must validate your account before you can log in. <br> Check your inbox for the validation link!</strong> <br>
      <a href="{% url 'gamestore: new_login' %}">Return to homepage</a><br />
          {% else %}
      <h3>Sign up on our website!</h3>
      <form id="user_form" action="/registration/" method="post">{% csrf_token %}
        {{ user_data.as_p }}
        {{ user_form.as_p }}
        <input type="submit" name="submit" value="Register"/>
      </form>
    {% endif %}
          
        </div>
          <div style="clear:all"></div>       
          
          <div id="footer">
            CopyRight © Gladiators 2015, all rights reserved.
          </div>
        </div>

      </body>
</html>
      