        <!DOCTYPE html>
        <html>
          <head>
            <title>Home</title>
			      {% load staticfiles %} 
            <link rel="stylesheet" type="text/css" href="{% static 'gamestore/home.css'%}" />
            <meta charset="utf-8" />
          </head>
          <body>
           <div id="container">
              <div id="header">
                      <div id="glad"> <h2> Gladiators online games</h2> </div>
                          <a href="{% url 'gamestore: home' %}"><img src ="{% static 'gamestore/logo.png'%} " width="10%"></a>
                      </div>
              <div id="body">
                <div id="category"><h3><ul id="menu">
                  <li>Adventure</li>
                  <li>Car Race</li>
                  <li>Sports</li>
                  <li>Puzzle</li>
                  <li>Action</li>
                  <li><a href="help.html">Help</a></li>
                  <li><a href="about.html">About</a></li>
                  </ul></h3>
                </div>
                <div id="login">
		  <strong>Please enter the correct user type</strong>
                  <form action="/login/" method="post">{% csrf_token %}
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username">&nbsp;
                     <br><br>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password"/>&nbsp;
                    <br><br>         
                    <label for="usertype">Login as: </label>
                    <select id="usertype" name="usertype">
                      <option value=""></option>
                      <option value="player">Player</option>
                      <option value="developer">Developer</option>
                      <option></option>
                    </select></br></br>
                    <input type="submit" name="submit" value="Login"/>&nbsp;</br></br>
                  <br><br><br>
                    Don't have an account? <a href="{% url 'gamestore: register_url' %}">Sign up</a>
                    <br><br>                    
                  </form>
                  
                </div>
                <div id="pop_container">
                  <div id="pop">Adventure <br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
                  <div id="pop">Car Race<br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
                  <div id="pop">Sports<br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
                  <div id="pop">Puzzle<br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
                  <div id="pop">Action<br> <img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
                </div>     
                  
                <div id="main_games"> 
                  <div id="recent">Most Popular games<br><img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
                  <div id="recent">Recently added games<br><img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
                  <div id="recent">Free games<br><img src="home.png" width="30%">    <img src="players.png" width="30%"></div>
                </div>
              </div>
                <div style="clear:all"></div>
                <div id="footer">
                  CopyRight © Gladiators 2015, all rights reserved.
                </div> 
            </div>       
          </body>
        </html>
                
